em {
    color: red;
}
h1 {
        color: yellow;
}

.Heading2 {
            color: brown;
}

.Heading2 {
            color:blue;
            font-size:  8px;
}

#b {
    color: green;
    }

.a {
    font-size: 14px;
    color:blue;
}