.my-color {
    color: red;
    font-size: 5rem;
    background-color: powderblue
}

.my-div{
    color:burlywoodd;
    font-size: 5rem;
    background-color: blue
    
}

.my-div1{
    color:aqua;
    font-size: 3rem;
    background-color: blueviolet;
    
.outer-div{
    background-color: black;
    color: white;

}

.inner-div{
    border: 30px 30px pink;
    margin: 20px 2
    
}

.my-list{
    list-style-type:square;
}