.my-color {
    color: red;
    font-size: 5rem;
    background-color: powderblue
}

.my-div{
    color:burlywoodd;
    font-size: 5rem;
    background-color: blue
    
}

.my-div1{
    color:aqua;
    font-size: 3rem;
    background-color: blueviolet
    
    
}